@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* #D4ECF5 Background*/
/* #6BB7F5 Foreground*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

.text-green{
    color: #59a754;
}

#landing{
    background-color: #d0e9cc;
}

nav{
    display: flex;
    height: 80px;
    justify-content: center;
    background-color: #d0e9cc;
}

.border{
    border: red 1px solid;
}

.nav__container{
    width: 100%;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
}

.logo__img{
    height: 50px;
}

.logo__text{
    margin-left: 8px;
    font-size: 25px;
    font-weight: 700;
    border-left: 3px solid #59a754;
    padding-left: 8px;
    color: #59a754;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link{
    padding: 5px 10px;
    margin-right: 30px;
    color: #59a754;
    font-size: 18px;
    text-transform:uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: color 400ms ease;
}

.nav__link:hover{
    color: #172716;
}

.nav__cart{
    font-size: 30px;
    position: relative;
}

.nav__link--primary:hover{
    background: #172716;
    color: #55b14e;
}

.basket__items--container{
    background-color: red;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 0;
}

.basket__items--text{
    font-size: 12px;
    color: white;
}

header{
    height: calc(100vh - 80px);
}

.header__container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    margin: 0 auto;
}

.header__description{
    text-align: center;
    word-wrap: normal;
}

h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 24px;
    padding: 0 24px;
    text-transform: capitalize;
}

h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    padding: 0 16px;
    text-transform: capitalize;
}

button{
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

.btn{
    align-self: center;
    font-size: 15px;
    padding: 8px 15px;
    margin: 10px 16px;
    background-color: #59a754;
    color: #172716;
    border-width: 0;
    border-radius: 16px;
    transition: background-color 200ms ease;
    color: white;
}

.btn:hover{
    background-color: #34802f;
}

.menu__btn{
    display: none;
    font-size: 24px;
    align-self: center;
    padding: 8px 15px;
    margin: 10px 16px;
    background-color: #93d28e;
    color: #172716;
    border-width: 0;
    border-radius: 4px;
    transition: background-color 200ms ease;
}

.menu{
    display: none;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    animation: showMenu 300ms normal;
}

.menu__empty{
    width: 30%;
}

.menu__overlay{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #232323;
    padding: 24px 48px;
}

.img__container--menu{
    border-top: 2px solid #59a754;
    margin-top: 24px;
    padding-top: 32px;
    width: 100%;
}

@keyframes showMenu{
    0%{ transform: translateX(100vw); }
    100% { transform: translateX(0); }
}

.menu__links{
    padding: 0px 16px;
    flex-direction: column;
}

.menu__link--list{
    margin-bottom: 24px;
}

.menu__link{
    color: white;
    font-size: 28px;
    text-decoration: none;
    transition: color 300ms ease;
}

.menu__link:hover{
    color: #888888;
}

.menu__btn--close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px 32px;
    font-size: 32px;
    color: white;
    background-color: #232323;
    border-width: 0;
    transition: color 300ms ease;
}

.menu__btn--close:hover{
    color: red;
}

.header__img--container{
    padding: 20px;
}

.header__img{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 50vh;
    z-index: 1;
}

.container{
    padding: 72px 0;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#highlights{
    position: relative;
}

#highlights:before, #highlights:after{
    position: absolute;
    background: url("assets/wave.svg");
    content: "";
    width: 101vw;
    height: 12vw;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before{
    transform: translateY(-100%);
    top: 1px;
}

#highlights:after{
    transform: translateY(100%) rotateZ(180deg);
    bottom: 1px;
}

.highlight__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.highlight{
    width: calc(100% / 3);
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight__img{
    width: 80px;
    height: 80px;
    font-size: 28px;
    color: #59a754;
    border: 2px solid #77b6737f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight__subtitle{
    font-size: 20px;
    margin-top: 16px;
    text-align: center;
}

.highlight__description{
    font-size: 16px;
    margin-top: 4px;
    text-align: center;
    max-width: 200px;
}

#popular{
    background-color: #d0e9cc;
}

.popular-container{
    padding-top: 10vw;
}

.plants__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px 24px;
    column-gap: 10px;
}

.plant__card{
    width: 250px;
    border: 1px solid #919191;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    background-color: #f3f3f3;
    border-radius: 16px;
}

.plant__img--container{
    width: 100%;
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 16px 16px 0 0;
}

.plant__img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: scale 300ms ease;
}

.plant__img--container:hover .plant__img{
    scale: 1.1;
}

.plant__title{
    font-size: 16px;
    margin-bottom: 8px;
}

.plant__price{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.plant__btn{
    width: 90%;
}

.browse__wrapper{
    display: flex;
    justify-content: center;
}


#footer{
    background-color: rgb(31, 31, 31);
}

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__img{
    width: 100%;
    max-width: 50px;
    margin-bottom: 24px;
}

.line-break{
    width: 60%;
    border: none;
    background-color: #59a754;
    height: 2px;
}

.footer__links{
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.footer__link{
    margin: 16px;
    color: #a0a0a0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.footer__para{
    color: rgb(103, 103, 103);
}

.footer__link:hover{
    text-decoration: underline;
}

.back-to-top{
    width: 60px;
    height: 60px;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #93d28e;
    border: 2px solid #3e723a;
    bottom: 75px;
    right: 75px;
    color: #3a5f38;
    font-size: 24px;
    border-radius: 50%;
    transition: display 300ms ease;
}

#product{
    background-color: #d0e9cc;
}

.product__container{
    background-color: white;
    padding: 48px 40px;
    border-radius: 16px;
    display: flex;
    margin: 0 16px;
}

.product__img--wrapper{
    margin-right: 64px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.product__img{
    object-fit: cover;
    object-position: center center;
    width: 100%;

}

.product__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.product__title{
    font-size: 32px;
    margin-bottom: 32px;
}

.product__price{
    font-size: 32px;
    color: #7e7e7e;
    margin-bottom: 16px;
    font-weight: 700;
    margin-left: 16px;
}

.product__desc{
    font-size: 16px;
    margin-bottom: 40px;
}

.w-100{
    width: 100%;
}

.mainCheckoutDiv{
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.basketBlock{
    width: 100%;
    margin-left: 20px;
}

.DPRBlock{
    padding: 10px;
    width: 100%;
}

.checkOutPageSection{
    border-radius: 3px;
    background-color: white;
}

.checkOutMain{
    background-color: #d0e9cc;
    padding: 0px 20px 20px 20px;
}

.deliveryDetailsContainerBox{
    background-color: rgb(242, 244, 241);
    border-radius: 3px;
}

.deliveryMultiLine{
    display: flex;
    width: 100%;
}

.deliverySingleLine{
    margin: auto;
}

.deliveryDetailBox{
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.deliveryInput{
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    outline: none;
    border: 2px solid;
    border-color: #b4c7b2;
    font-size: 14px;
    margin-top: 5px;
}

.DPRtitle{
    padding-top: 5px;
    padding-bottom: 5px;
}

#allDeliveryDetailsBox{
    margin: 0 20px;
}

.deliveryInputText{
    text-align: left;
    padding-left: 10px;
}

.saveAndContiueButton{
    background-color: #d0e9cc;
}

@media (max-width: 591px) {
    .nav__links{
        display: none;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 24px;
    }

    .highlight{
        width: 100%;
    }

    .movie{
        width: 50%;
    }

    .footer__links{
        flex-direction: column;
    }

    .menu__btn{
        display: block;
    }

    .back-to-top{
        right: 40px;
    }

    .product__container{
        flex-direction: column;
    }

    .product__img--wrapper{
        width: 80%;
        margin: 0 auto;
        max-width: 250px;
    }

    .product__info{
        width: 100%;
        margin-top: 64px;
        padding: 0 32px;
    }

    .mainCheckoutDiv{
        display: block;
        margin: auto auto 20px auto;
    }

    .basketBlock{
        margin: 0 0 20px 0;
    }

    .checkOutMain{
        padding: 10px ;
    }
}

@media (max-width: 810px){
    .deliveryMultiLine{
        display: block;
    }
}

@media (max-width: 1050px){
    .allDeliveryDetailsBox{
        margin: 0 5px;
    }
}
